**/.git
**/.dockerignore
**/Dockerfile*
**/README.md
**/LICENSE
**/.gitignore
**/.editorconfig
**/.vscode
**/bin/
**/obj/
**/.vs/
**/*.test
**/*.Tests
**/TestResults/
**/node_modules/
*.db
*.log
*.tmp
